# /etc/systemd/system/simple-ci.service
[Unit]
Description=Simple-ci service for github webhooks
After=network.target

[Install]
WantedBy=multi-user.target
Alias=simple-ci.service

[Service]
Type=simple
ExecStart=PATH-TO-BINARY
ExecStop=/bin/kill -HUP $MAINPID
